<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th></th>
      <th>Handler</th>
      <th>Hond</th>
      <th>Ras</th>
    </tr>
  </thead>
  <tbody>
{% for item in site.data.deelnemers %}
    <tr>
      <td>{{ item.nr }}</td>
      <td>{{ item.land }}</td>
      <td>{{ item.handler }}</td>
      <td>{{ item.hond }}</td>
      <td>{{ item.ras }}</td>
    </tr>
{% endfor %}
    <tr><td>=2 filter=</td></tr>
{% for item in site.data.deelnemers }} %}
  {% if item.klasse == 'ob1' %}
    <tr>
      <td>{{ item.nr }}</td>
      <td>{{ item.land }}</td>
      <td>{{ item.handler }}</td>
      <td>{{ item.hond }}</td>
      <td>{{ item.ras }}</td>
    </tr>
  {% endif %}
{% endfor %}
    <tr><td>=3 sort=</td></tr>
{% assign items = site.data.deelnemers | sort: 'nr' %}
{% for item in items %}
  {% if item.klasse == include.klasse %}
    <tr>
      <td>{{ item.nr }}</td>
      <td>{{ item.land }}</td>
      <td>{{ item.handler }}</td>
      <td>{{ item.hond }}</td>
      <td>{{ item.ras }}</td>
    </tr>
  {% endif %}
{% endfor %}
  </tbody>
</table>
