---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #669933;
  background-image: linear-gradient(120deg, #CC9933, #669933);
}

.project-name {
  font-weight: normal;
}

.hero-hands {
  background-image: url("/images/dutch-german-t.jpg");
}

.hero-woef.jpg {
  background-image: url("/images/poster-woef.jpg");
}

.hero-image {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
