---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #669933;
  background-image: linear-gradient(120deg, #CC9933, #669933);
}

.project-name {
  font-weight: normal;
}
